@model Products_AarshModi.Models.ProductMetaData

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tblProduct</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShortDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LongDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LongDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SmallImage)
        </dt>

        <dd>
            <img src="~/ImageUploads/SmallProductsImage/@Url.Content(@Model.SmallImagePath.ToString())" alt="" style="height:100px;width:100px;" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LargeImage)
        </dt>

        <dd>
            @foreach (var item in ViewBag.Images)
            {
                <img src="~/ImageUploads/LargeProductsImage/@Url.Content(item)" alt="" style="height:100px;width:100px;">
            }
            @Html.DisplayFor(model => model.LargeImage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
